<h4>Detalle de su compra</h4>
<p> Fecha: {{compras2.fecha}}</p>
<p> Descripcion: {{compras2.descripcion}}</p>

<table class="default" >
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Color</th>
      <th>Talla</th>
      <th>Costo</th>
    </tr>
  
    <tr  *ngFor = "let producto of productos2">
  
      <td>{{producto.ID}}</td>
      <td>{{producto.tipo}}</td>
      <td>{{producto.Color}}</td>
      <td>{{producto.Talla}}</td>
      <td>{{producto.costo}}</td>
      
      
    </tr>
  </table>
