<br>
<h2>Bienvenido Administrador</h2>
<a routerLink ="/administrador/create" class="waves-effect waves-light btn-large">Crear producto</a>
<a routerLink ="/administrador/update" class="waves-effect waves-light btn-large">Editar producto</a>
<a routerLink ="/administrador/delete" class="waves-effect waves-light btn-large">Eliminar producto</a>
<a routerLink ="/administrador/read" class="waves-effect waves-light btn-large">Ver productos</a>
<a routerLink ="/administrador/sales" class="waves-effect waves-light btn-large">Ventas</a>
